@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*,
::after,
::before {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.nav a {
  color: #222222;
}
.home a{
    color: #FFBA00;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgb(246, 246, 246);
  position: fixed;
  z-index: 50;
  width: 77%;
  top: 30px;
}

.nav a:hover{
    color: #FFBA00;
}

.nav i:hover{
    color: #FFBA00;
}

.drop{
    position: relative;
}

.dropdown_content{
    position: absolute;
    opacity: 0;
    display: none;
    transition: all .2s ease;
    gap: 1px !important;
    min-width: 198px !important;
    text-align: center;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .drop li a{
    color: #FFBA00;
  }
  
  .dropdown_content li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px;
    
}

.dropdown_content li:hover{
  background-color: #FFBA00;
  color: white;
}
.dropdown_content li:hover a{
  color: white;
}
.drop:hover .dropdown_content{
    opacity: 1;
    display: block;
}



.bgimg{
  background-image: url(/assets/images/banner-bg.jpg.webp);
  background-size: cover;
  padding: 200px 0px;
  width: 100%;
}

.collection{
  width: 445px;
  height: 326px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.collection h1{
  font-size: 60px;
  font-weight: 700;
}
.collection p{
  font-size: 14px;
  color: #777777;
}


.collection a{
  color: white;
}

.plusbtn{
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border-radius: 9999px;
  color: white;
  font-size: 14px;
  border: none;
  box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2);
  font-weight: 700;
  width: 50px;
  height: 50px;
}

.collection span{
  font-size: 12px;
  margin-left: 15px;
  text-align: center;
}
.nike{
  display: flex;
  gap: 80px;
}

.banner_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cbcbcb;
}


.row_banner{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
  margin: 100px 0px;
}
.col_banner{
  padding: 40px 12px;
}

.banner_item h6{
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 16px;

}

.banner_item p{
  font-size: 14px;
}

.banner_card:hover{
  opacity: 0.5;
}

.boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr ;
  gap: 30px;
  height: 444px;
}

.box{
  background-size: cover !important;
  background-repeat: no-repeat;
}

.box:nth-child(1){
  grid-row: 1/2;
  grid-column: 1/3;
  background-image: url(/assets/images/c1.jpg.webp);
}

.box:nth-child(2){
  grid-row: 1/2;
  grid-column: 3/4;
  background-image: url(/assets/images/c2.jpg.webp);
}

.box:nth-child(3){
  grid-row: 1/3;
  background-image: url(/assets/images/c5.jpg.webp);
  background-size: cover;
  background-position: center;
}

.box:nth-child(4){
  grid-row: 2/3;
  grid-column: 1/2;
  background-image: url(/assets/images/c3.jpg.webp);
}
.box:nth-child(5){
  grid-row: 2/3;
  grid-column: 2/4;
  background-image: url(/assets/images/c4.jpg.webp);

}


.latest h1{
  font-size: 36px;
}
.latest p{
  font-size: 14px;
}

.latest{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 160px;
  margin-top: 100px;
}

.latest_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text{
  width: 570px;
  text-align: center;
  margin: 0 auto;
  color: #777777;
}

.prev{
  opacity: 0.5;
}

.next{
  opacity: 0.5;
}

.prev:hover{
  opacity: 1;
} 

.next:hover{
  opacity: 1;
}

.product_card img{
  width: 100%;
}
.product_card{
  margin-bottom: 15px;
  margin-top: 70px;
}
.product_icons i{
  background-color: #828BB2;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 5.5px 8px;
  cursor: pointer;
}

.product_icons {
  margin-top: 10px;

}

.product_item{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.price{
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.price h6:nth-child(2){
  text-decoration: line-through;
  color: #a1a0a0;
}

.product_item h6{
  font-size: 16px;
}

.product_icons i:hover  {
  background-color: #ff6c00;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

.exclusive{
  background-image: url(/assets/images/exclusive.jpg.webp);
  background-color: #222222;
  background-size: cover;
  background-position: center;
  width: 952px;
  height: 891px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 70px;
  position: relative;
}

.exclusive_shadow{
  background-color: #22222283;
  width: 100%;
  height: 891px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exclusive_text{
  width: 545px;
  color: white;
  p{
    font-size: 14px;
  }
}

.clock{
  background-color: white;
  height: 103px;
  width: 551px;
  border-radius: 7px;
  padding: 18px 0px;
  margin-bottom: 30px;
 
}

.col_exclusive{
  border-right:1px solid #d7d5d5;
}
.clock_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    margin-bottom: 0px;
  }  
}


.nowbtn{
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border-radius: 9999px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  border: none;
  box-shadow: 0 10px 20px rgba(255, 108, 0, 0.2);
  font-weight: 700;
}

.shopnow{
  padding: 16px 8px;
  cursor: pointer;
  border-radius: 30px;
}

.adidas_part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.adidas{
  display: flex;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.adidas_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.adidas_price{
  display: flex;
  gap: 15px;
}

.adidas_shadow{
  background-color: #222222;
}

.adidas_price h6:nth-child(2){
  text-decoration: line-through;
  color: #777777;
}
  
.adidas_add i{
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 5.5px 8px;
  cursor: pointer;
}

.adidas_add{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  span{
    font-size: 12px;
  }
}

.product_icons {
  margin-top: 10px;

}

.adidas_text h4{
  margin: 15px 0px;
}

#exclusive-end{
  display: flex;
  gap: 40px;
}

.banner_area{
  margin: 100px 0px;

}

.bannerarea_images{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bannerarea_image{
  opacity: 0.5;
}

.bannerarea_image:hover{
  opacity: 1 ;
}



#productdealarea {
  margin-bottom: 100px;
}
.brand-row {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
}
.brand-img {
  opacity: 0.3;
  cursor: pointer;
}
.brand-img:hover {
  opacity: 0.9;
}
.deal_info a {
  color: #222222;
}
.deal_info a:hover {
  color: #ffba00;
}
.deal_info img {
  border-radius: 5px;
}
.item-product {
  margin-bottom: 30px;
}
.right-col {
  max-width: 255px;
  height: 301px;
}
.right-col img {
  width: 100%;
  height: auto;
}

.deal_clock{
  width: 255px; 
   height: 301px;
  /* transform: scaleX(1.7); */
  margin-left: 80px;
}


footer{
  padding: 100px 0px;
  background-color: #222222;
}

.foot{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}
.instcards{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.instcard{
  display: flex;
  gap: 10px;
}

.inst_card{
  display: flex;
  gap: 10px;
}

.about{
  width: 285px;
  height: 173px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.copyright{
  text-align: center;
}

.about h6{
  color: white;
  font-size: 18px;
  font-family:  "Poppins", serif ;
  font-weight: bolder;
}
.about p{
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 14px;
}

.news h6{
  color: white;
  font-size: 18px;
  font-family:  "Poppins", serif ;
  font-weight: bolder;
  margin-bottom: 20px;
 
}

.news p{
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 14px;
}
.news{
  display: flex;
  flex-direction: column;
  
}

form{
  display: flex;
}
.email input{
  width: 280px;
  height: 38px;
  border: none;
  padding: 6px 12px 6px 20px;
  outline: none;
}

.footbtn{
  width: 40px;
  height: 38px;
  border: none;
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  color: white; 
}

.instagram h6{
  color: white;
  font-size: 18px;
  font-family:  "Poppins", serif ;
  font-weight: bolder;
  margin-bottom: 20px;  
}

.follow h6{
  color: white;
  font-family:  "Poppins", serif ;
  font-weight: bolder;
  margin-bottom: 20px;  
}

.follow p{
  color: #777777;
  font-family: "Roboto", serif;
  font-size: 14px;
}

.socialicons {
  color: white;
  display: flex;
  gap: 15px;
}

.copyright{
  color: #777777;
  font-size: 14px;
  margin-top: 50px;
}

.copyright a{
  color: #FFBA00;
  cursor: pointer;
}

.copyright i{
  color: #FFBA00;
}
.log_into{
  width: 540px;
  height: 193.38px;
  color: black;
}