
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

ul {
  list-style: none;
}

.nav a {
  color: #222222;
}
.home a{
    color: #FFBA00;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin-bottom: 0;
  font-family: "Roboto", serif ;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px 1px rgb(246, 246, 246);
  position: fixed;
  z-index: 50;
  width: 77%;
  top: 30px;
}

.nav a:hover{
    color: #FFBA00;
}

.nav i:hover{
    color: #FFBA00;
}

.drop{
    position: relative;
}

.dropdown_content{
    position: absolute;
    opacity: 0;
    display: none;
    transition: all .2s ease;
    gap: 1px !important;
    min-width: 198px !important;
    text-align: center;
    padding: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .drop li a{
    color: #FFBA00;
  }
  
  .dropdown_content li {
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px;
    
}

.dropdown_content li:hover{
  background-color: #FFBA00;
  color: white;
}
.dropdown_content li:hover a{
  color: white;
}
.drop:hover .dropdown_content{
    opacity: 1;
    display: block;
}

.bgimg{
  background-image: url(/assets/images/common-banner.jpg.webp);
  background-size: cover;
  padding: 200px 0px;
  width: 100%;
  position: relative;
}

 a{
   text-decoration: none;
}

.login h1{
    color: white;
    font-family: "Poppins", serif;
    font-size: 36px;
    font-weight: bolder;
}

.login a{
    color: white;
    font-family: "Roboto", serif;
    font-size: 14px;
}
.login{
    position: absolute;
    right: 300px;   
}


.registerimage{
    width: 570px;
    height: 593.38px;
}

.registerimage img{
    width: 100%;
    height: 100%;
}

#register{
    margin-top: 60px;
}

.registerpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 540px;
    height: 593.38px;
  }
  
  .registerform{
    width: 385px;
    height: 303px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .registerin h3{
    font-family: "Poppins", serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
  }
  
  .firstname input{
    border: none;
    padding: 15px 12px;
    outline: none;
  }
  
  .firstname{
    border-bottom: 1px solid #777777;
  }

  .lasttname input{
    border: none;
    padding: 15px 12px;
    outline: none;
  }
  
  .lasttname{
    border-bottom: 1px solid #777777;
  }

  .enteremail input{
    border: none;
    padding: 15px 12px;
    outline: none;
  }
  
  .enteremail{
    border-bottom: 1px solid #777777;
  }
  
  .password input{
    border: none;
    padding: 15px 12px;
    outline: none;
  }
  .password{
    border-bottom: 1px solid #777777;
  }

  .retypepassword input{
    border: none;
    padding: 15px 12px;
    outline: none;
  }
  .retypepassword{
    border-bottom: 1px solid #777777;
  }

  
  .signbtn button{
    width: 150px;
    height: 40px;
    border: none;
    margin-top: 20px;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
  }
  
  .signbtn a{
    color: white;
    font-weight: bolder; 
  }
  
  .haveacc a{
    color: #777777; 
  }
  
  .haveacc{
    margin-top: 20px;
  }
  
   .haveacc:hover a{
    color: blue
    
  }


  footer{
    padding: 100px 0px;
    background-color: #222222;
    margin-top: 100px;
  }
  
  .foot{
    display: flex;
    gap: 30px;
    justify-content: space-around;
  }
  .instcards{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .instcard{
    display: flex;
    gap: 10px;
  }
  
  .inst_card{
    display: flex;
    gap: 10px;
  }
  
  .about{
    width: 285px;
    height: 173px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  }
  
  .copyright{
    text-align: center;
  }
  
  .about h6{
    color: white;
    font-size: 18px;
    font-family:  "Poppins", serif ;
    font-weight: bolder;
  }
  .about p{
    color: #777777;
    font-family: "Roboto", serif;
    font-size: 14px;
  }
  
  .news h6{
    color: white;
    font-size: 18px;
    font-family:  "Poppins", serif ;
    font-weight: bolder;
    margin-bottom: 20px;
   
  }
  
  .news p{
    color: #777777;
    font-family: "Roboto", serif;
    font-size: 14px;
  }
  .news{
    display: flex;
    flex-direction: column;
    
  }
  
  form{
    display: flex;
  }
  .email input{
    width: 280px;
    height: 38px;
    border: none;
    padding: 6px 12px 6px 20px;
    outline: none;
  }
  
  .footbtn{
    width: 40px;
    height: 38px;
    border: none;
    background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
    color: white; 
  }
  
  .instagram h6{
    color: white;
    font-size: 18px;
    font-family:  "Poppins", serif ;
    font-weight: bolder;
    margin-bottom: 20px;  
  }
  
  .follow h6{
    color: white;
    font-family:  "Poppins", serif ;
    font-weight: bolder;
    margin-bottom: 20px;  
  }
  
  .follow p{
    color: #777777;
    font-family: "Roboto", serif;
    font-size: 14px;
  }
  
  .socialicons {
    color: white;
    display: flex;
    gap: 15px;
  }
  
  .copyright{
    color: #777777;
    font-size: 14px;
    margin-top: 50px;
  }
  
  .copyright a{
    color: #FFBA00;
    cursor: pointer;
  }
  
  .copyright i{
    color: #FFBA00;
  }
  .log_into{
    width: 540px;
    height: 193.38px;
    color: black;
  }